html, body
  height 100%

body
  font 300 1em/1.5 'Roboto', sans-serif
  //font-family 'Roboto', sans-serif
  color #444
  background #333 //#EEE


html
  //overflow hidden
  //touch-action none
  //content-zooming none

body
  // position absolute
  // background #fff

  width 100%
  height 100%


.section
  min-height 100vh !important //100%

.Imgs
  //background #000
  //text-align center
  img

    display block
    max-height: 90%
    width auto
    margin auto


.intro
  text-align center
  color #FFF
  position relative

  h1
    font-size 6vh
    width 80%
    max-width: 600px
    margin auto
.wrap
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

@keyframes rotate360 {
  0% {
    transform: rotate( 0deg ) scale( 1 );
  }

  100% {
    transform: rotate( 360deg ) scale( 1.5 );
  }
}

@keyframes rotate180 {
  0% {
    transform: rotate( 0deg ) scale( 1.25 );
  }

  100% {
    transform: rotate( 180deg ) skewX( 1 );
  }
}
@keyframes rotate90 {
  0% {
    transform: rotate( 0deg ) scale( 1 );
  }

  100% {
    transform: rotate( 90deg ) scale( 1.5 );
  }
}

polygon {
  fill: white;
  opacity: 0.05;
  transform-origin: center center;
  backface-visibility: hidden;
  animation: rotate360 30s linear infinite alternate-reverse;

  &:nth-child(2n) {
    animation-name: rotate180;
    animation-duration: 15s;
    animation-direction: alternate;
  }

  &:nth-child(3n) {
    animation-name: rotate90;
    animation-duration: 10s;
  }

  &:nth-child(5n) {
    animation-duration: 30s;
    animation-direction: alternate-reverse;
  }
}




#screen
  // position absolute
  // left 0
  // top 0
  position relative
  overflow hidden


  width 100vw //100%
  height 100vh //100%

  background #000
  perspective 500px


.cube
  position absolute
  top 50%
  left 50%
  width 0
  height 0

  user-select none
  transform-style preserve-3d


.face
  position absolute
  margin-left -300px
  margin-top -200px
  width 600px
  height 400px
  backface-visibility hidden
  transform-origin 50% 50%

  //transition outline 0.5s ease-in-out 0s
  transition outline 0.8s
  cursor pointer
  &:hover
    outline 10px solid #2196F3


.button
  position absolute
  margin-left -150px
  margin-top -100px
  width 300px
  height 200px

  &:hover
    //border 10px solid #2196F3
    outline rgba(#2196F3,.5)solid 30px
    //box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
    //box-shadow: 0 0 10px 10px rgba(0,0,0,.5) inset;
