//https://github.com/thoughtbot/bitters/tree/master/app/assets/stylesheets

//https://github.com/corysimmons/typographic/blob/master/stylus/typographic.styl

h1, h2, h3, h4, h5, h6
  margin: 0 0 0.75em
  line-height: 1.25

// h1
h2
h3
h4
  font-weight bold
//
ul
p
  margin: 0 0 0.75em



// ul
//   list-style none
b
  font-weight bold
